xml-resources/web-service-references/EntConfirmarFirmaService/wsdl/lasiewebsit.ccaf.andes_8080/enterprise/EntConfirmarFirmaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://siebel.com/fins" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.siebel.com/xml/OCS%20Detalle%20Documento%20IO" xmlns:WL5G3N2="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N3="http://siebel.com/fins" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <WL5G3N2:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.siebel.com/xml/OCS%20Detalle%20Documento%20IO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://siebel.com/fins" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal0="http://www.siebel.com/xml/OCS%20Detalle%20Documento%20IO">
      <WL5G3N2:annotation>
        <WL5G3N2:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</WL5G3N2:documentation>
      </WL5G3N2:annotation>
      <WL5G3N2:element name="ListOfOcsDetalleDocumentoIo" type="xsdLocal0:ListOfOcsDetalleDocumentoIo"/>
      <WL5G3N2:complexType name="ListOfOcsDetalleDocumentoIoTopElmt">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="1" minOccurs="1" name="ListOfOcsDetalleDocumentoIo" type="xsdLocal0:ListOfOcsDetalleDocumentoIo"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
      <WL5G3N2:complexType name="ListOfOcsDetalleDocumentoIo">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ListOfAction" type="xsdLocal0:ListOfAction"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
      <WL5G3N2:complexType name="ListOfAction">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="unbounded" minOccurs="0" name="Action" type="xsdLocal0:Action"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
      <WL5G3N2:complexType name="Action">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="OCSIdDocumento" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ListOfReportOutputBC" type="xsdLocal0:ListOfReportOutputBC"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
      <WL5G3N2:complexType name="ListOfReportOutputBC">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="unbounded" minOccurs="0" name="ReportOutputBC" type="xsdLocal0:ReportOutputBC"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
      <WL5G3N2:complexType name="ReportOutputBC">
        <WL5G3N2:sequence>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ReportName" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ReportOutputFileExt" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ReportOutputFileSize" type="xsd:string"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ReportOutputFileBuffer" type="xsd:base64Binary"/>
          <WL5G3N2:element maxOccurs="1" minOccurs="0" name="ReportOutputFileName" type="xsd:string"/>
        </WL5G3N2:sequence>
      </WL5G3N2:complexType>
    </WL5G3N2:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF_Input">
    <WL5G3N0:part name="RequestIO" type="WL5G3N1:ListOfOcsDetalleDocumentoIoTopElmt"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF_Output">
    <WL5G3N0:part name="Error_spcCode" type="WL5G3N2:string"/>
    <WL5G3N0:part name="Error_spcMessage" type="WL5G3N2:string"/>
    <WL5G3N0:part name="ExecutionStatus" type="WL5G3N2:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF">
    <WL5G3N0:operation name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF">
      <WL5G3N0:input message="WL5G3N3:OCS_spcConfirmacion_spcFirma_spcDigital_spcWF_Input"/>
      <WL5G3N0:output message="WL5G3N3:OCS_spcConfirmacion_spcFirma_spcDigital_spcWF_Output"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF" type="WL5G3N3:OCS_spcConfirmacion_spcFirma_spcDigital_spcWF">
    <WL5G3N4:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF">
      <WL5G3N4:operation soapAction="rpc/http://siebel.com/fins:OCS_spcConfirmacion_spcFirma_spcDigital_spcWF"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://siebel.com/fins" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://siebel.com/fins" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="OcsConfirmarFirma">
    <WL5G3N0:port binding="WL5G3N3:OCS_spcConfirmacion_spcFirma_spcDigital_spcWF" name="OCS_spcConfirmacion_spcFirma_spcDigital_spcWF">
      <WL5G3N4:address location="http://lasiewebsit.ccaf.andes:8080/enterprise/EntConfirmarFirmaService"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>